/* 
            ----------------------------------
            ----------------------------------
    ------------CONTACT PAGE START----------------------
            ----------------------------------
            ----------------------------------
    */
.Contact-form {
  background-image: url("../images/summary.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .Contact-form input,
  .Contact-form textarea {
    width: 70%;
    margin: 0 auto;
    box-shadow: -12px 14px 15px #1e1e1e; }
  .Contact-form label {
    margin: 0% 20%;
    color: white; }
  .Contact-form button {
    background: transparent;
    box-shadow: -12px 14px 15px #1e1e1e;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }
  .Contact-form form {
    background: transparent; }
