/*HOME PAGE MEDIA QUERY START */
@media (max-width: 992px) {
  .NavBar .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .NavBar .navbar .navbar-collapse {
    text-align: center; }
  .Summary .Summary-Inner {
    padding: 6% 0%; } }

@media (max-width: 768px) {
  body {
    background-size: 768px 700px; } }

@media (max-width: 565px) {
  .NavBar .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .NavBar .navbar .navbar-collapse {
    text-align: center; }
  .Summary .Summary-Inner {
    margin-bottom: 20px; } }

/*HOME PAGE MEDIA QUERY END */
