/* 
            ----------------------------------
            ----------------------------------
    ------------RESPONSIVE WEB DESIGN PAGE START----------------------
            ----------------------------------
            ----------------------------------
*/
.Header-Responsive {
  background-image: url("../images/bg_nav_new.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover; }
  .Header-Responsive .Header-Responsive-Inner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15% 15%; }

.Update-Section {
  background-image: url("../images/summary.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .Update-Section .Update-Section-Inner {
    background-color: rgba(0, 0, 0, 0.5); }
