* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------------
--------------HOME PAGE STARTS ------------------
-------------------------------------------------*/
.Navbar {
  background-color: #06750B !important;

}

.Navbar .dropdown-menu{
  top: 95%;
  border-radius: 0px 15px;
}


.Navbar ul {
  border-radius: none;
}

.Navbar ul li{
  padding: 0px 10px;
}


.Navbar .nav-item:hover {
  background-color: black;
  border-radius: 0px 15px;
  transition: 1s;

}

 /* .Navbar .dropdown-item:focus, .dropdown-item:hover {
    color: white !important;
    margin: 3px 0px;
    text-decoration: none;
    background-color: #06750B !important;
    border-radius: 8px 0px;


} */




 .Navbar .dropdown:hover .HoverItems{
   display: block;
   transition: 5s;
 }

 .Navbar .Dropdown2:hover .HoverItems2{
   display: block;
 }


/* slider */
#carouselId {
  width: 100%;
  margin-top: 65px;
}

#carouselId img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

/* latest news start*/
.News {
  background-image: url("../images/newsbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0px;
  background-attachment: fixed;
}

.News .Headline {
  background-color: #06750B;
  border-radius: 0px 15px;
  padding: 15px 0px;
  font-weight: lighter;
  color: #fff;
}

.News .img-fluid:hover {
  transform: scale(1.02);
  transition: 1s;
}

/* Latest news end */
/* Upcoming Tournaments start */
.Upcoming {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0px;
  background-attachment: fixed;
}

.Upcoming .card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px 15px;
  border: none;
  color: white;
}

.Upcoming .Headline {
  background-color: #06750B;
  border-radius: 0px 15px;
  padding: 15px 0px;
  font-weight: lighter;
  color: #fff;
}

.Upcoming .card-header {
  background-color: rgba(6, 117, 11, 0.7);
  border-radius: 15px 15px !important;
}

/* Upcoming Tournaments end */
.Footer {
  background-color: black;
  padding-bottom: 40px;
}

.Footer h3 {
  color: #fff;
}

.Footer a {
  text-decoration: none !important;
  color: #fff;
}

/*------------------------------------------------
--------------ALGERIA PAGE STARTS------------------
-------------------------------------------------*/
/* HEADER SECTION STARTS*/
.Header-Section2 {
  background-image: url("../images/team_csgo_algeria.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 65px;
}

.Header-Section2 .Header-Inner {
  background-color: rgba(0, 0, 0, 0.7);
}

.Header-Section2 img {
  height: 200px;
  width: 250px;
}

/* HEADER SECTION ENDS*/
/* Member Section start*/
.Members {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0px;
  background-attachment: fixed;
}

.Members .Paragraph-Bg {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 40px;
  border-radius: 15px;
}

.Members h1 {
  background-color: #06750B;
  border-radius: 0px 15px;
  padding: 15px 0px;
  color: #fff;
  font-weight: lighter;
}

/* Member Section end*/
/*------------------------------------------------
--------------LOGIN AND REGISTER PAGE STARTS------------------
-------------------------------------------------*/
/* login */
.Sign-In .Form form {
  width: 70%;
  box-shadow: 0px 0px 30px grey;
}

.Sign-In .Form form h5 {
  width: 70%;
  border-bottom: 1px solid #212529;
  margin: 0 auto;
}

.Sign-In .Form form .First-a-tag {
  text-decoration: none;
  color: #212529;
  text-decoration: none;
  color: #212529;
  border-left: 1px solid #212529;
  border-top: 1px solid #212529;
  border-right: 1px solid #212529;
  border-bottom: 1px solid #212529;
  padding: 10px 14px;
  border-radius: 0px 30px;
}

.Sign-In .Form form .Second-a-tag {
  text-decoration: none;
  color: #fff;
  border-left: 1px solid #212529;
  border-top: 1px solid #212529;
  border-right: 1px solid #212529;
  border-bottom: 1px solid #212529;
  padding: 10px 14px;
  border-radius: 0px 30px;
  background-color: #53C6C9;
}

.Sign-In .Form form .First-a-tag:hover {
  background-color: #53C6C9;
  color: #fff;
}

.Sign-In .Form form .Input {
  width: 70%;
  margin: 0 auto;
}

.Sign-In .Form form .Font .a1 {
  color: #fff;
  background-color: #4267B2;
  padding: 10px 16px;
}

.Sign-In .Form form .Font .a2 {
  color: #fff;
  background-color: #DD4C3B;
  padding: 10px 16px;
}

.Sign-In .Form form .Font .a3 {
  color: #fff;
  background-color: #59D8F7;
  padding: 10px 16px;
}

/*registration*/
.Sign-Up .Form form {
  width: 70%;
  box-shadow: 0px 0px 30px grey;
}

.Sign-Up .Form form .First-a-tag {
  text-decoration: none;
  color: #ffffff !important;
  text-decoration: none;
  color: #212529;
  border-left: 1px solid #212529;
  border-top: 1px solid #212529;
  border-right: 1px solid #212529;
  border-bottom: 1px solid #212529;
  padding: 10px 14px;
  border-radius: 0px 30px;
  background-color: #53C6C9;
}

.Sign-Up .Form form .Second-a-tag {
  text-decoration: none;
  color: #212529;
  border-left: 1px solid #212529;
  border-top: 1px solid #212529;
  border-right: 1px solid #212529;
  border-bottom: 1px solid #212529;
  padding: 10px 14px;
  border-radius: 0px 30px;
}

.Sign-Up .Form form .Second-a-tag:hover {
  background-color: #53C6C9;
  color: #fff;
}

.Sign-Up .Form form .Font .a1 {
  color: #fff;
  background-color: #4267B2;
  padding: 10px 16px;
}

.Sign-Up .Form form .Font .a2 {
  color: #fff;
  background-color: #DD4C3B;
  padding: 10px 16px;
}

.Sign-Up .Form form .Font .a3 {
  color: #fff;
  background-color: #59D8F7;
  padding: 10px 16px;
}

.Sign-Up .Form form h5 {
  width: 70%;
  border-bottom: 1px solid #212529;
  margin: 0 auto;
}

.Sign-Up .Form form .Input {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .Sign-In .Form form {
    width: 100%;
  }

  .Sign-In .Form form .First-a-tag {
    white-space: nowrap;
    padding: 10px 5px;
    font-size: 13px;
  }

  .Sign-In .Form form .Second-a-tag {
    white-space: nowrap;
    padding: 10px 5px;
    font-size: 15px;
  }

  /* register  */
  .Sign-Up .Form form {
    width: 100%;
  }

  .Sign-Up .Form form .First-a-tag {
    white-space: nowrap;
    padding: 10px 5px;
    font-size: 13px;
  }

  .Sign-Up .Form form .Second-a-tag {
    white-space: nowrap;
    padding: 10px 5px;
    font-size: 15px;
  }
}

/*
@media (max-width: 992px) {
  .Navbar .dropdown:hover .HoverItems{
    display: block;
  }

  .Navbar .Dropdown2:hover .HoverItems2{
    display: block;
    position: relative;
    top: 0%;
    left: 0%;
  }
}
*/
